<h1>User info</h1>
<% form_with model: @user, url: edit_user_path, local: true do |f|　%>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id: inputName, placeholder: "名前" %>
  <label for="inputImage">Image</label>
  <%= attachment_field :profile_image, placeholder: "プロフィール画像" %>
  <label for="inputBody">Introduction</label>
  <%= f.text_area :body, placeholder: "コメント" %>
  <%= f.submit "Update User" %>
<% end %>